In [4]:
import pandas as pd
import numpy as np

# Define column positions based on the given documentation
column_specs = [
    (0, 20),   # Last Name, Col 1-20
    (20, 21),  # Filler, Col 21-21
    (21, 40),  # First Name, Col 22-40
    (40, 41),  # Family Relation Code, Col 41-41
    (41, 44),  # Age, Col 42-44
    (44, 45),  # Filler, Col 45-45
    (45, 46),  # Sex Code, Col 46-46
    (46, 47),  # Filler, Col 47-47
    (47, 57),  # CIR - Occupation Code, Col 48-57
    (57, 58),  # Literacy Code, Col 58-58
    (58, 61),  # CIR - Native Country Code, Col 59-61
    (61, 62),  # Filler, Col 62-62
    (62, 82),  # Town of Last Residence, Col 63-82
    (82, 102), # Destination, Col 83-102
    (102, 103),# CIR - Transit Code, Col 103-103
    (103, 105),# CIR - Travel Compartment Code, Col 104-105
    (105, 107),# Filler, Col 106-107
    (107, 110),# CIR - Passenger Port of Embarkation Code, Col 108-110
    (110, 111),# Filler, Col 111-111
    (111, 119),# CIR-MID Key to FIMHR file, Col 112-119
    (119, 120),# Filler, Col 120-120
    (120, 130) # Passenger Arrival Date, Col 121-130
]

# Define column names based on the given documentation
column_names = [
    "Last Name", "Filler 1", "First Name", "Family Relation Code", "Age", 
    "Filler 2", "Sex Code", "Filler 3", "CIR - Occupation Code", 
    "Literacy Code", "CIR - Native Country Code", "Filler 4", 
    "Town of Last Residence", "Destination", "CIR - Transit Code", 
    "CIR - Travel Compartment Code", "Filler 5", 
    "CIR - Passenger Port of Embarkation Code", "Filler 6", 
    "CIR-MID Key to FIMHR file", "Filler 7", "Passenger Arrival Date"
]

# Read the fixed-width formatted text file
file_path = 'RG200.FAMIR.Y4651.txt'

# Use pandas.read_fwf to read the fixed-width formatted file
irish_immigrant_df = pd.read_fwf(file_path, colspecs=column_specs, names=column_names)

# Drop the filler columns from the DataFrame
columns_to_drop = ["Filler 1", "Filler 2", "Filler 3", "Filler 4", "Filler 5", "Filler 6", "Filler 7"]

irish_immigrant_df = irish_immigrant_df.drop(columns=columns_to_drop)

display(irish_immigrant_df)

,Last Name,First Name,Family Relation Code,Age,Sex Code,CIR - Occupation Code,Literacy Code,CIR - Native Country Code,Town of Last Residence,Destination,CIR - Transit Code,CIR - Travel Compartment Code,CIR - Passenger Port of Embarkation Code,CIR-MID Key to FIMHR file,Passenger Arrival Date
0,SOMER,JOHN,NaN,17,M,TLR,U,117,U,USA,S,13,136,769,1 12 1846
1,LOCKE,ELLEN,NaN,44,F,WVR,U,3,U,USA,S,13,4,771,1 15 1846
2,LOCKE,CATHERINE,NaN,22,F,WVR,U,3,U,USA,S,13,4,771,1 15 1846
3,SHERIDAN,MARY,NaN,18,F,WVR,U,3,U,USA,S,13,4,771,1 15 1846
4,MCNAMEE,ARTHUR,NaN,20,M,LABR,U,3,U,USA,S,13,4,771,1 15 1846
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
604591,SMITH,ED,NaN,21,M,GENT,NaN,3,U,USA,NaN,NaN,59,5724,12 31 1851
604592,SMITH,ANN,NaN,18,F,LDY,NaN,3,U,USA,NaN,NaN,59,5724,12 31 1851
604593,LESTIN,U-MRS.,NaN,28,F,U,NaN,3,U,USA,NaN,NaN,59,5724,12 31 1851
604594,LESTIN,MARY,NaN,2,F,CH,NaN,3,U,USA,NaN,NaN,59,5724,12 31 1851
604595,LOUGHAN,MARY,NaN,4,F,CH,NaN,3,U,USA,NaN,NaN,59,5724,12 31 1851